/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	font-size: 14px;
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: #fff;
	border: 1px solid #ececec;
	box-shadow: 0 1px #ececec;
	margin-bottom: 40px;
	padding: 20px;
}

.author-box-title {
	color: $color04;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 14px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 8px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 30px;
	margin: 0;
}

.entry-title a {
	color: $color03;
}

.sidebar .widget-title a {
	color: #fff;
}

.entry-title a:hover {
	color: $color04;
}

.widget-title,
.footer-widgets .featured-content .widget-title {
	border-bottom: 1px solid #ececec;
	font-size: 16px;
	margin: 0 0 20px;
	padding: 0 0 20px;
}

.home-bottom .widget-title,
.sidebar .widget-title {
	margin: -20px -20px 20px;
	padding: 20px 20px;
}

/* WordPress
--------------------------------------------- */

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

a.alignnone {
	display: inline-block;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 12px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 12px 24px;
}

.wp-caption-text {
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.gallery-caption {
	margin: 0 0 10px;
}
