/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */

.home-top {
	border-top: 1px solid #ececec;
}

.home-top .widget:first-child h4 {
	padding-top: 20px;
}

.home-top .entry {
	background: none;
}

.home-top .featured-content a.alignleft,
.home-top .featured-content a.alignnone,
.home-top .featured-content a.alignright {
	margin-bottom: 0;
}

.home-top a.alignleft,
.home-top a.alignright {
	width: 66%;
}

.home-top .featured-content,
.home-top .featured-content .entry {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.home-top .featured-content .entry-header {
	border: none;
	padding: 10% 40px 0;
}

.home-top .featured-content .entry-title {
	font-size: 30px;
}

.home-top .featured-content .entry-content {
	padding: 0 40px;
}

.home-top .more-link {
	display: table;
	text-align: center;
}

.home-bottom .widget {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #DADADA;
	box-shadow: 0 1px #DADADA;
	float: left;
	margin-left: 2.564102564102564%;
	padding: 40px;
	width: 31.623931623931625%;
}

.home-bottom .widget:nth-child(3n+1) {
	clear: both;
	margin-left: 0;
}

/* Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
	border: 1px solid #DADADA;
	box-shadow: 0 1px #DADADA;
	padding: 40px;
	margin-bottom: 40px;
}

.entry-header {
	border-bottom: 1px solid #DADADA;
	margin: -40px -40px 40px;
	padding: 40px;
}

.entry-content ol,
.entry-content p,
.entry-content ul {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	color: #aaa;
	font-size: 14px;
	margin-bottom: 0;
}

.entry-meta a {
	font-weight: 700;
}

.entry-header .entry-meta {
	margin: 10px 0 0;
}

.entry-footer {
	margin-top: 22px;
}

.entry-footer .entry-meta {
	border-top: 1px solid #ececec;
	margin: 0 -40px;
	padding: 40px 40px 0;
}

.entry-tags {
	float: right;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	background-color: #fff;
	border: 1px solid #ececec;
	box-shadow: 0 1px #ececec;
	margin-bottom: 40px;
}

.after-entry .widget {
	margin: 0;
	padding: 40px;
}

.after-entry .widget-title {
	border-top: 1px solid #ececec;
	margin: -40px -40px 30px;
	padding: 30px 40px;
}

.after-entry .widget:first-child .widget-title {
	border-top: 0;
}

.after-entry .featured-content .entry:last-of-type,
.after-entry .featured-content .more-from-category {
	border-bottom: none;
}

.after-entry .featured-content .more-from-category {
	padding: 20px 40px;
}

.after-entry li {
	list-style-type: none;
}

/* Pagination
--------------------------------------------- */

.pagination {
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #fff;
	border: 1px solid #ececec;
	box-shadow: 0 1px #ececec;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: $color04;
	color: #fff;
}

.entry-pagination.pagination {
	margin: 0 0 10px;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	border: 1px solid #ececec;
	box-shadow: 0 1px #ececec;
	margin-bottom: 40px;
}

.comment-respond {
	padding: 40px 40px 16px;
}

.comment-respond h3 {
	border-bottom: 1px solid #ececec;
	margin: -40px -40px 40px;
	padding: 30px 40px;
}

.entry-comments {
	border-bottom-width: 0;
}

.entry-comments h3,
.entry-pings h3 {
	border-bottom: 1px solid #ececec;
	margin: 0;
	padding: 30px 40px;
}

.comment-list li.depth-1 {
	border-bottom: 1px solid #ececec;
	padding-bottom: 40px;
}

.comment-content {
	clear: both;
}

.comment-list li {
	padding: 40px 40px 0;
}

.comment-list li li {
	padding-right: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author,
.entry-comments .comment-author a {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0;
}

.comment-meta,
.comment-meta a {
	color: #aaa;
	font-size: 14px;
}

.entry-comments .comment-author a:hover,
.comment-meta a:hover {
	color: $color04;
}

.ping-list li {
	padding: 40px 40px 16px;
}

.entry-pings .reply {
	display: none;
}

.comment-reply-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	padding: 24px;
}
